/**
 * app.css
 */

* {
    font-size:10pt;
    color: black;
}

.image-cropper {
    padding-top:30px;
    margin:auto;
}

.classic-user-input {
    margin-top:15px;
}

#crop-button {
    display:inline;
    border: 1px solid black;
    background:red;
    width:400px;
    text-align:center;
    top:10px;
    z-index: 400;
    padding:10px;
    margin-top:20px;
    margin-left:10px;
}
