/**
 * app.css
 */

* {
    font-size:10pt;
    color: black;
}

#main-container{
}

.image-cropper {

}

.image {
    border: 1px solid black;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
}

.selection {
    opacity: 0.4;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
}

.classic-user-input {
    margin-top:15px;
}
#crop-button {
    display:inline;
    border: 1px solid black;
    background:red;
    width:400px;
    text-align:center;
    top:10px;
    z-index: 400;
    padding:10px;
    margin-top:20px;
    margin-left:10px;
}
